.cart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1200px;
    height: auto;
    padding-top: 30px;
    margin: 0 auto;

}

.steps {
    display: flex;
    gap: 16px;

}

.active {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 174, 28, 1);
}

.titleCart {
    font-size: 32px;
    font-weight: 400;
    margin-top: 24px;
}

.title {
    font-size: 16px;
    font-weight: 400;

}

.list {
    max-height: 640px;
    width: 100%;
    overflow-y: auto;
    padding-right: 8px;
}

.list::-webkit-scrollbar {
  width: 6px;
}

.list::-webkit-scrollbar-thumb {
  background-color: rgba(54, 54, 54, 0.6);
  border-radius: 4px;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: 146px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 12px;
    padding: 8px;
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.titlePrice {
    font-size: 16px;
    font-weight: 500;
    position: relative;
    left: 80px;
}

.price {
    font-size: 24px;
    margin-left: 11px;

}

.controls {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;

}

.quantityValue {
    margin: 0 12px;
    font-size: 20px;
}

.decreaseButton, .increaseButton {
    align-items: center;
    height: 36px;
    width: 36px;
    padding: 0;
    line-height: 36px;

    background-color: rgba(0, 174, 28, 1);
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.removeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 36px;
    width: 81px;
    padding: 0;
    line-height: 36px;
    text-align: center;
    font-size: 15px;
    background-color: rgba(0, 174, 28, 1);
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    white-space: nowrap;

}

.itemImage {
    width: 130px;
    height: 130px;
    object-fit: cover;
}

.total {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
}

.summary {
    margin-top: 40px;
    color: rgba(36, 53, 115, 1);
}

.nextButton {
    margin-top: 20px;
    height: 48px;
    width: 200px;
    padding: 0;
    line-height: 48px;
    text-align: center;
    font-size: 16px;
    background-color: rgba(0, 174, 28, 1);
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}