.contact {
    width: 1250px;
    margin: 0 auto;
    padding-top: 30px;
    
}

.title {
    font-size: 32px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
}


.containerForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 800px;
    gap: 30px 0;
    padding-left: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 40px;
    margin: 10px;    

}

.field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inputField {
    height: 36px;
    border: none;
    border-bottom: 1px solid rgba(115, 115, 115, 1);
    font-size: 16px;
    width: 300px;
    
}

.titleField {
    font-family: Paragraph 3/Bold   ;
    font-size: 12px;
    font-weight: 700;
    width: 100px;
}

.placeholder {
    font-family: Paragraph 3/Regular;
    font-size: 16px;
    color: #999;
}

.nextStep {
    width: 150px;
    height: 36px;
    background-color: rgba(0, 174, 28, 1);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 20px 10px;  
}