.contact {
    width: 1250px;
    margin: 0 auto;
    padding-top: 30px;
    
}

.title {
    font-size: 32px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
    color: rgba(36, 53, 115, 1);
}


.containerForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 960px;
    gap: 30px 0;
    padding-left: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 40px;
    margin: 10px;    

}

.field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inputField {
    height: 36px;
    border: none;
    border-bottom: 1px solid rgba(115, 115, 115, 1);
    font-size: 16px;
    width: 300px;
    outline: none;
    
}

.inputField::placeholder {
    font-family: Paragraph 3/Regular;
    font-size: 16px;
    color: #999;
}


.inputField:focus{
    border-bottom: 1px solid rgba(36, 53, 115, 1);
}

.errorInput{
    border-bottom: 1px solid rgba(255, 86, 32, 1);
    
}

.error{
    font-size: 10px;
    color: rgba(255, 86, 32, 1);
    margin-top: 4px;
}

.titleField {
    font-family: Paragraph 3/Bold   ;
    font-size: 12px;
    font-weight: 700;
    width: 100px;
}

.nextStep {
    width: 150px;
    height: 36px;
    background-color: rgba(0, 174, 28, 1);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 20px 10px;  
}

.nextStep:hover{
    border: 1px solid rgba(92, 225, 113, 1);
}

.nextStep:active{
    background-color: rgba(12, 213, 43, 1);
}