.container {
    width: 1250px;
    margin: 0 auto;
}

.title {
    font-size: 32px;
    font-weight: 400;
    color: rgba(36, 53, 115, 1);
    margin-top: 30px;
    margin-left: 10px;
}

.breadcrumb {
    margin-top: 30px;
}

.form {
    margin: 10px;
}

.containerForm {
    border: 1px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    width: 960px;
    padding: 40px;
}

.fieldColumn {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.fieldRows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 840px;
    position: relative;
}

.inputField {
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(115, 115, 115, 1);
    width: 300px;
    height: 40px;
}

.inputField::placeholder {
    font-family: Paragraph 3/Regular;
    font-size: 16px;
    color: #999;

}

.inputFieldRow {
    display: block;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(115, 115, 115, 1);
    width: 250px;
    height: 40px;
    
}

.inputFieldRow::placeholder {
    font-family: Paragraph 3/Regular;
    font-size: 16px;
    color: #999;
}

.inputFieldRow:optional {
    font-family: Paragraph 3/Regular;
    font-size: 16px;
    color: #999;
}

.errors {
    font-size: 10px;
    color: rgba(255, 86, 32, 1);
    margin-top: 4px;
}

.errorInput {
    border-bottom: 1px solid rgba(255, 86, 32, 1);
}

.labelField {
    font-family: Paragraph 3/Bold;
    font-size: 12px;
    font-weight: 700;
    width: 200px;
    margin-bottom: 5px;
}

.submit {
    color: white;
    background-color: rgba(0, 174, 28, 1);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    border: none;
    height: 36px;
    width: 150px;
    margin-top: 40px;
    cursor: pointer;
}

.submit:hover{
    border: 1px solid rgba(92, 225, 113, 1);
}

.submit:active{
    background-color: rgba(12, 213, 43, 1);
}