.container {
    width: 1250px;
    margin: 0 auto;
}

.title {
    font-size: 32px;
    font-weight: 400;
    color: rgba(36, 53, 115, 1);
    margin-top: 30px;
    margin-left: 10px;
}

.breadcrumb {
    margin-top: 30px;
}

.form {
    margin: 10px;
}

.containerForm {
    width: 960px;
}

.fieldColumn {
    display: flex;
    flex-direction: column;

}

.fieldRows {
    display: flex;
    flex-direction: row;
    width: 840px;
}

.inputField {
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(115, 115, 115, 1);
    width: 300px;
}

.inputFieldRow {
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(115, 115, 115, 1);
    width: 250px;
}

.labelField {
    font-family: Paragraph 3/Bold;
    font-size: 12px;
    font-weight: 700;
    width: 200px;
}




.submit{
    color: white;
    background-color: rgba(0, 174, 28, 1);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    border: none;
    height: 36px;
    width: 150px;
    margin-top: 40px;
    cursor: pointer;
}