.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 80px;
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.logo{
    text-decoration: none;
}

.title {
    color: white;
    margin-left: 120px;
    position: relative;
}

.headerLogoRight{
    position: absolute;
    left: 10px;
    z-index: 2;
    margin-left: 70px;
}

.headerLogoLeft{
    position: absolute;
    z-index: 22;
    margin-left: 70px;
}

.cart {
    display: flex;
    align-items: center;
    color: white;
    margin-right: 80px;
    text-decoration: none;
    border: 1px solid rgba(0, 174, 28, 1);
    border-radius: 8px;
    padding: 10px 24px;
    background-color: rgba(0, 174, 28, 1);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.cartLogo {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}