.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 390px;
    width: 290px;
    border: 1px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 32px ;
    
}

.title{
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
}

.thumbnail{
    width: 224px;
    height: 245px;
    object-fit: cover;
    width: 90%;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    gap: 6px;
    background-color: rgba(0, 174, 28, 1);
    border: none;
    width: 270px;
    height: 36px;
    color: white;
    border-radius: 8px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.addIcon{
    width: 16px;
    height: 16px;
}

.button:hover{
    cursor: pointer;
    background-color: rgba(0, 150, 24, 1);
}

.description{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
}

.price{
    font-size: 24px;
    font-weight: 400;
    margin-left: 10px;
}